{% extends "base.html" %}

{% block extracss %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/imgareaselect-default.css" />
{% endblock %}
{% block extrajs %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.imgareaselect.pack.js"></script>
  <script>
        SCALE = 1;
        ORYGINAL_IMAGE_WIDTH = 0;
        CROP_IMAGE_INSTANCE = null;

        function crop_change(img, selection){
            var x1=Math.round(selection.x1 * SCALE);
            var y1=Math.round(selection.y1 * SCALE);
            var x2=Math.round(selection.width * SCALE);
            var y2=Math.round(selection.height * SCALE);

            $('#id_avatar_x').val(x1);
            $('#id_avatar_y').val(y1);
            $('#id_avatar_width').val(x2);
            $('#id_avatar_height').val(y2);
        }
        $( window ).resize(function(){update_scale();});

        function update_scale(){
            if (ORYGINAL_IMAGE_WIDTH==0)
                ORYGINAL_IMAGE_WIDTH = $('img#profile_image').width();
            var image_width = ORYGINAL_IMAGE_WIDTH;
            var screen_width = $(window).width();
            if (image_width>screen_width){
                SCALE = image_width/screen_width;
                $('#profile_image').attr('width', screen_width);
            }else{
                $('#profile_image').attr('width', '');
            }
            if (CROP_IMAGE_INSTANCE)
                crop_change(true, CROP_IMAGE_INSTANCE.getSelection());
        }

        function readImage(input) {
            if ( input.files && input.files[0] ) {
                var FR= new FileReader();
                FR.onload = function(e) {
                    $('#crop_image').css('display', '');
                     $('#profile_image').attr( "src", "" );
                     $('#profile_image').attr( "src", e.target.result );
                     ORYGINAL_IMAGE_WIDTH = $('img#profile_image').width();
                     var mw = Math.min($('img#profile_image').width(), $('img#profile_image').height());
                     CROP_IMAGE_INSTANCE = null;
                     update_scale();
                     var x1 = ($('img#profile_image').width()-mw)/2;
                     var y1 =($('img#profile_image').height()-mw)/2;
                     CROP_IMAGE_INSTANCE = $('img#profile_image').imgAreaSelect({
                         onSelectChange: crop_change,
                         handles: true,
                         aspectRatio: '{{ aspect_ratio }}',
                         x1: x1,
                         y1: y1,
                         x2: x1+mw,
                         y2: y1+mw,
                         instance: true
                         //onSelectEnd: someFunction
                     });
                };
                FR.readAsDataURL( input.files[0] );
            }
            else{
                alert('ooopss');
            }
        }
        $(function() {
            $("#id_image").change(function(){
                readImage( this );
            });
            {% if object %}
                ORYGINAL_IMAGE_WIDTH = $('img#profile_image').width();
                update_scale();

                var x1 = {{ profile.avatar_x }};
                var y1 = {{ profile.avatar_y }};
                var x2 = {{ profile.avatar_x }}+{{ profile.avatar_width }};
                var y2 = {{ profile.avatar_y }}+{{ profile.avatar_height }};
                if (SCALE!=1){
                    x1/=SCALE;
                    y1/=SCALE;
                    x2/=SCALE;
                    y2/=SCALE;
                }

                CROP_IMAGE_INSTANCE = $('img#profile_image').imgAreaSelect({
                     onSelectChange: crop_change,
                     handles: true,
                     aspectRatio: '{{ aspect_ratio }}',
                     x1: x1,
                     y1: y1,
                     x2: x2,
                     y2: y2,
                     instance: true
                     //onSelectEnd: someFunction
                 });
            {% endif %}
        });
    </script>
{% endblock %}

{% block content %}
<h1>Add Profile</h1>
<form action="" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <ul>
    {{ form.as_ul }}
  </ul>
    {% if object %}
        <img id="profile_image" src="{{ MEDIA_URL }}{{ profile.image }}" />
    {% else %}
        <img id="profile_image" />
    {% endif %}
  <input id="save_profile" type="submit" value="Save" />
</form>

<a href="{% url "profile-list" %}">back to list</a>


{% endblock %}